html{
	overflow-x: hidden;
}
body {
	font-family: "RB_Font";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #eef4f8;

	overflow: hidden;
	width: 100%;
	position: relative;
	
}
.success-center{
	display: flex;
    height: 100%;
    align-items: center;
}
.success-center .form-section{
	padding: 0;
	margin-top: -15%;
}
.pb-0{
	padding-bottom: 0;
}
.body-bg-1{
	position: relative;
	height: 100vh;
}
.body-bg-1:before{
	background-image: url(../images/bg-1.png);
    position: absolute;
   bottom: 0;
	top:0;
    left: 0;
    right: 0;
    width: 100%;
	height: 100%;
	
    content: "";
    aspect-ratio: 1920 / 74;
    background-size: cover;
   
    overflow-x: hidden;
}
html[dir="ltr"] .body-bg-1::before{
	transform: scaleX(-1);
}

a:hover {
	text-decoration: none;
}

.overflow {
	overflow: hidden !important;
}



img {
	image-rendering: -webkit-optimize-contrast;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--main-hover);
}




/*top header*/

.top-header{
	padding: 30px 0 80px;
}

.top-header a {
	text-decoration: none;
}

.logo-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 99;
}
.language-link{
	color: rgba(255, 255, 255, 0.702);
	font-size: 18px;
	transition: 0.5s;
}
.language-link:hover{
	color: #fff;
	
}

.logo {
	max-width: 240px;
	max-height: 75px;
	transition: all 0.3s ease-in-out;
}

  
/* header section */


/* form section */
.form-section{
	padding: 0 0 115px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	position: relative;
	z-index: 99;
}
.form-section-content{
	width: 555px;
	display: flex;
	flex-direction: column;
	
}
.form-title{
	color: #fff;
display: flex;
justify-content: center;
text-align: center;
font-size: 30px;
font-family: "RB-Bold";
margin: 0 0 20px;

}
.w-506{
	width: 506px;
}
.form-text{
	color: #fff;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	line-height: 1.701;
	margin: 0 auto 20px;
	max-width: 451px;
}

.price{
	color: #fff;
	font-size: 30px;
	font-family: "RB-Bold";
	display: flex;
	margin: 0 0 28px;
	justify-content: center;
	text-align: center;
}
.form-input-1{
	width: 100%;
	height: 56px;
	border-radius: 28px;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	padding: 0 34px;
	border:2px solid transparent;
	outline: none;
	transition: 0.5s;
	color: rgb(153, 153, 153);
	font-size: 18px;
}
.form-input-1::placeholder{
	color: rgb(153, 153, 153);
	font-size: 18px;
}
.form-input-1:focus{
	border:2px solid rgba(255,255,255,0.7);
	outline: none;
	
}
.form-input-1:not(:last-child){
	margin-bottom: 9px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.select-1{
	position: relative;
}
.select-1:after{
content: "";
font-family: "Line Awesome Free";
font-weight: 700;
font-size: 20px;
color:rgb(153, 153, 153);
position: absolute;
top:50%;
transform: translateY(-50%);
inset-inline-end: 34px;
}
.form-input-1:last-child{
	margin-bottom: 26px;
}
.send-btn-1{
	width: 224px;
	height: 65px;
	border: 3px solid #fff;
	border-radius: 32.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	outline: none;
	padding: 0;
	transition: 0.5s;
	font-size: 24px;
	font-family: "RB-Bold";
	background-color: transparent;
	margin: 26px auto 0;
}
.send-btn-1:hover{
	color: #f28e90;
	background-color: #fff;
}
.send-btn-1:focus{
	outline: none;
}
/* form section */


/* css for index-2 */
.body-bg-2{
	background-color: #fff;
	position: relative;
	width: 100%;
    height: 100vh;
   
}
.body-bg-2:after{
	background-image: url(../images/bg-2.png);
    position: absolute;
   bottom: 0;
	top:0;
    left: 0;
    right: 0;
    width: 100%;
	height: 100%;
	
    content: "";
   
    background-size: contain;
   background-repeat: no-repeat;
    overflow-x: hidden;
}
html[dir="ltr"] .body-bg-2:after{
	transform: scaleX(-1);
}
.language-link-2{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 18px;
	background-color: rgb(237, 70, 89);
	width: 100px;
	height: 30px;
	border-radius: 15px;
	transition: 0.5s;
}
.language-link-2:hover{
	background-color: #000;
	color: #fff;
}
.color-black{
	color: #000;
}
.top-header-2{
	position: relative;
	z-index: 99;
}
.form-section-2{
	display: flex;
	justify-content: flex-start;
	position: relative;
	z-index: 99;
	padding: 0 0 100px;
}
html[dir="ltr"] .form-section-2{
	padding: 0 0 50px;
}

.form-title-2{
	color: #000;
	text-align: start;
	justify-content: flex-start;
}
.form-text-2{
	color: #000;
	text-align: start;
	justify-content: flex-start;
	margin: 0 0 20px;
}
.price-2{
	color: #ed4659;
	text-align: start;
	justify-content: flex-start;
}
.form-input-2{
	border:2px solid rgb(230, 230, 230);
	border-radius: 27px;
}
.form-input-2:focus{
	border:2px solid #ed4659;
}
.send-btn-2{
	background-color: #ed4659;
	border:0;
	color: #fff;
	margin: 0;
}
.send-btn-2:hover{
	background-color: #000;
	color: #fff;
}

/* css for index-2 */


/* css for index-3 */
.body-bg-3{
	background-image: url(../images/bg-3.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.language-link-3{
	background-color: rgba(255,255,255,0.2);
}
.language-link-3:hover{
	background-color: #ed4659;
}
.form-section-3{
	justify-content: center;
}
.send-btn-3{
	margin: 0 auto;
}
.success-img{
	display: flex;
	justify-content: center;
	margin: 0 auto 20px;
	padding-inline-start: 30px;
}
html[dir="ltr"] .success-img {
    padding-inline-start: 0;
    padding-inline-end: 30px;
}

/* css for index-3 */

select {
	
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
  }
 





/* media query */
/* menu in phone size */
@media (max-width: 991px) {
	.body-bg-1{
		background-color: #eb908b;
		
	}
	.success-center{
		display: block;
	}
	.pb-0{
		padding-bottom: 80px !important;
	}
	.body-bg-1:before{
		background-image: none;
	}
	.logo-bar{
		padding: 20px 0 95px;
	}


	.logo {
		max-width: 192px;
        height: 61px;
	}

	.w-506{
		width: 100%;
	}
	.body-bg-2{
		background-image: url(../images/bg-22.png);
		background-repeat: no-repeat;
		background-size: cover;
		
		
	}
	.body-bg-2:after{
		content: "";
		background-image: none;
	}
	.language-link-2{
		width: 80px;
		height: 24px;
		border-radius: 12px;
		font-size: 14px;
	}
	.top-header-2 .logo-bar{
		flex-direction: row-reverse;
	}
	.form-title-2{
		text-align: center;
		justify-content: center;
	}
	.form-text-2{
		text-align: center;
		justify-content: center;
	}
	.price-2{
		text-align: center;
		justify-content: center;
	}
	.form-section-2{
		padding-bottom: 132px;
	}
	.body-bg-3{
		background-position: 80%;
	
	}
	.top-header-3 .logo-bar{
		flex-direction: row;
	}
}

/* media query */


@media (min-width: 1200px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1170px;
	}
}

@media (max-width: 767px) {

	.container,
	.container-fluid,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	
	.body-bg-1{
		background-position: bottom;
	}
	.form-section-content {
		width: 400px;
	}
	.w-506 {
		width: 400px;
	}
	.form-section-2{
		padding: 0 0 50px;
	}
	.body-bg-1:before{
		background-position: center;
	}
	.body-bg-3{
		background-position: center;
		
	}
	
}

@media (max-width: 991px) {
	body {
		position: relative;
	}
	.form-section{
		padding: 0 0 132px;
	}
	.top-header {
		padding: 0;
	}
	.form-section-content{
		width: 100%;
	}
	.form-title{
		font-size: 26px;
	}
	.form-text{
		font-size: 18px;
	}
	.price{
		font-size: 26px;
	}
	.form-input-1{
		width: 100%;
	}
	.form-1{
		width: 100%;
	}
	.send-btn-1{
		width: 100%;
		margin: 0;
	}



}



@media only screen and (max-width: 994px) and (min-width: 768px) {
	
    .form-section-content {
        width: 350px;
    }
	
	.body-bg-1:before{
		background-position: center 0;
		background-image: url(../images/bg-1.png);
	}
	
	.success-center .form-section{
		margin-top: 0;
	}
	.body-bg-2{
		background-image: none;
	}
	.body-bg-2:after{
		background-image: url(../images/bg-2.png);
	}
	.form-section-2{
		padding: 0 0 50px;
	}

}

